@using SE2_IMDB.Models.Entity
@model SE2_IMDB.Models.Entity.Person

@{
    ViewBag.Title = "Details";

    Account current = Account.GetID(HttpContext.Current);
}

@if (Model.ID > 0)
{

    <div class="col-md-12">
        <h2>Details</h2>
    </div>
    if (current.Role == "ADMINISTRATOR" || current.Role == "MODERATOR")
    {
        <div class="col-md-12 text-right">
            <h4> @Html.ActionLink("Edit", "Edit", new {id = Model.ID}) </h4>
        </div>
    }
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-offset-1 text-center">
                <h2>@Model.Name</h2>
            </div>
            <div class="row">
                @if (current.ID != 0)
                {
                    <div class="col-md-12 text-right">
                        @if (Model.Like != 1)
                        {
                            <a href="@Url.Action("Score", "Person", new {id = Model.ID, value = 1})">
                                <img src="~/Uploads/upvoteclicked.png" style="height: 25px; width: 25px; padding-right: 0px;" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Score", "Person", new {id = Model.ID, value = 1})">
                                <img src="~/Uploads/upvote.png" style="height: 25px; width: 25px; padding-right: 0px;" />
                            </a>
                        }
                        @if (Model.Like != -1)
                        {
                            <a href="@Url.Action("Score", "Person", new {id = Model.ID, value = -1})">
                                <img src="~/Uploads/downvoteclicked.png" style="height: 25px; width: 25px; padding-left: 0px;" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Score", "Person", new {id = Model.ID, value = -1})">
                                <img src="~/Uploads/downvote.png" style="height: 25px; width: 25px; padding-left: 0px;" />
                            </a>
                        }
                    </div>
                }
            </div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rating)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>
        <div class="col-md-4">
            @if (Model.ImagePath.Length > 1)
            {
                <img src="@Url.Content("~/Uploads/Persons/" + Model.ImagePath)" style="max-width: 100%; max-height: 300px"/>
            }
            else
            {
                <img src="@Url.Content("~/Uploads/NOTFOUND.png")" style="max-width: 100%; height: 300px"/>
            }
        </div>
    </div>
    <hr/>

    if (Model.Films.Count > 0)
     {
         <div class="col-md-11 col-md-offset-1">
             <h3>People in this film:</h3>
         </div>
         <div class="row">
             <div class="col-md-10 col-md-offset-1">
                 <table class="table table-striped table-bordered table-hover">
                     <tr>
                         <th>
                             @Html.DisplayNameFor(model => model.Films[0].Title)
                         </th>
                         <th>
                             @Html.DisplayNameFor(model => model.Films[0].Role)
                         </th>
                     </tr>

                     @foreach (Film f in Model.Films)
                     {
                         <tr style="cursor: pointer;" onclick="location.href = '@Url.Action("Details", "Film", new {id = f.ID})'">
                             <td>
                                 @Html.DisplayFor(modelItem => f.Title)
                             </td>
                             <td>
                                 @Html.DisplayFor(modelItem => f.Role)
                             </td>
                         </tr>
                     }
                 </table>
             </div>
         </div>
     }
     else
     {
         <div class="row">
             <div class="col-md-10 col-md-offset-1">
                 <h3 class="text-center"> This person doesnt play in any films yet!</h3>
             </div>
         </div>
     }
}
else
{
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h2>Person with ID: [ @(Model.ID * -1) ] could not be found!</h2>
        </div>
    </div>
}
