@using SE2_IMDB.Models.Entity
@model SE2_IMDB.Models.ViewModels.PersonList

@{
    ViewBag.Title = "Person List";

    Account current = Account.GetID(HttpContext.Current);
}

<h2>Persons</h2>
@if (current.Role == "ADMINISTRATOR" || current.Role == "MODERATOR")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table table-hover">
    <tr class="tableheader">
        <th>
            <a href="@Url.Action("Index", "Person", new {sort = Model.SortList[0]})">
                @Html.DisplayNameFor(model => model.Persons[0].Rating)
                <span class="glyphicon glyphicon-sort"></span>
            </a>
        </th>
        <th>
            <a href="@Url.Action("Index", "Person", new {sort = Model.SortList[1]})">
                @Html.DisplayNameFor(model => model.Persons[0].Name)
                <span class="glyphicon glyphicon-sort"></span>
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].Description)
        </th>
        @if (current.Role == "ADMINISTRATOR" || current.Role == "MODERATOR")
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model.Persons) {
    <tr style="cursor: pointer;" onclick="location.href='@Url.Action("Details", "Person", new { id=item.ID })'">
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @if (current.Role == "ADMINISTRATOR" || current.Role == "MODERATOR")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ID})
            </td>
        }
    </tr>
}

</table>
